:root {
  --clr-neutral-900: hsl(207 19% 9%);
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-accent-400: hsl(142 90% 61%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-900);
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.6;
  font-family: sans-serif;
}

.card {
  background-color: hsl(0, 0%, 20%);
  background-image: url(./img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-neutral-100);
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;
}

.card__content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.2) 10%,
    hsl(0 0% 0% / 1)
  );
  transition: transform 500ms ease;
}

.card:hover .card__content,
.card:focus-within .card__content {
  transform: translate(0);
  transition-delay: 500ms;
}

.card:focus-within .card__content {
  transition-delay: -500ms;
}

.card:hover .card__content > *,
.card:focus-within .card__content > * {
  opacity: 1;
  transition-delay: 500ms;
}

.card__title {
  position: relative;
  width: max-content;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: calc(var(--padding) * -1);
  background-color: var(--clr-accent-400);
  width: calc(100% + var(--padding));
  height: 4px;
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
  transform: scale(1);
}

.card__body {
  color: hsla(0, 0%, 100%, 0.85);
  margin-block: 6px;
}

.card__button {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  padding: 0.5em 1.25em;
  text-decoration: none;
  display: inline;
  border-radius: 0.25em;
  font-weight: 600;
  font-size: 0.8rem;
}

.card__button:hover,
.card__button:focus {
  background-color: var(--clr-neutral-100);
}

@media (hover) {
  .card__content {
    transform: translateY(60%);
  }
  .card__content > * + * {
    opacity: 0;
    transition: opacity 500ms linear;
  }
  .card__title::after {
    transform: scale(0);
  }
  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
  }
}

@media (prefers-reduced-notion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0.01ms !important;
  }
}
