@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: roboto;
  overflow: hidden;
}

.left,
.right {
  width: 50%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: width var(--speed);
  overflow: hidden;
}
.left {
  background-image: url(./images/ps.jpg);
}
.right {
  background-image: url(./images/xbox.jpg);
}

.left::after,
.right::after {
  content: "";
  position: absolute;
  inset: 0;
}
.left::after {
  background-color: var(--left-bg-color);
}
.right::after {
  background-color: var(--right-bg-color);
}

.hover-left .left,
.hover-right .right {
  width: var(--hover-width);
}

.hover-left .right,
.hover-right .left {
  width: var(--other-width);
}

.content {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 31%;
  transform: translate(-50%, -31%);
  white-space: nowrap;
}

.name {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 4rem;
}

.btn {
  font-size: 1rem;
  border: 0.3em solid white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: roboto;
  color: white;
  background: none;
  padding: 1.5em;
  width: 15em;
  display: block;
  margin: 0 auto;
}

.ps:hover,
.ps:active {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.xb:hover,
.xb:active {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

@media (max-width: 820px) {
  .name {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .btn {
    padding: 1.25em;
    width: 12em;
  }
}

@media (max-width: 440px) {
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
    height: 50%;
    transition: height var(--speed);
  }
  .hover-left .left,
  .hover-right .right {
    width: 100%;
    height: 75%;
  }

  .hover-left .right,
  .hover-right .left {
    width: 100%;
    height: 25%;
  }
}
