@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  padding: 10px;
}

h1 {
  margin: 10px;
}

.content {
  height: 200px;
  width: min(400px, 100%);
  font-size: 45px;
  background-color: #4682b4;
  color: white;
  margin: 10px;
  display: inline-grid;
  place-content: center;
  border-radius: 10px;
  font-weight: 700;
  transform: translate(-400%);
  transition: transform 0.75s;
}

@media (hover) {
  .content:nth-of-type(even) {
    transform: translate(400%);
  }
}

.content.show {
  transform: translate(0);
}
